.circular-chart-card{
  height: 340px;
  max-height: 340px;
  padding: 10px;
  .title{
    color:#828282;
    margin-bottom: 0.5rem;
  }
}
.bar-chart-card{
  height: 450px;
  max-height: 450px;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  .title{
    color:#828282;
    margin-bottom: 0.5rem;
  }
}
.pie-with-bubble-chart-section-card{
  height: 400px;
  max-height: 400px;
  .title{
    color:#828282;
    margin-bottom: 0.5rem;
  }
}